<head>
  <meta name="viewport" content="width=device-width, initial-scale=5">
  <style>
    div {
      margin-bottom: 15px;
      padding: 4px 12px;
    }

    .danger {
      background-color: #ffdddd;
      border-left: 6px solid #f44336;
    }

    .success {
      background-color: #ddffdd;
      border-left: 6px solid #4CAF50;
    }

    .info {
      background-color: #e7f3fe;
      border-left: 6px solid #2196F3;
    }

    .warning {
      background-color: #ffffcc;
      border-left: 6px solid #ffeb3b;
    }
  </style>
</head>

<div class="center-div">
  <div class="row justify-content-md-center"><h4 class="text-center">Add Payments : Client ::{{payments.user.firstName}}
    {{payments.user.lastName}} </h4>
    Payment Towards :{{payments.scheduledPaymentDate}}

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control input-underline input-lg"
               id="id">
      </div>
      <div class="form-group">
        <label for="amountPaid">Amount[$CAD]</label>
        <input type="text" formControlName="amountPaid" placeholder="amountPaid" name="amountPaid"
               class="form-control input-underline input-lg" id="amountPaid">
      </div>
      <div class="form-group">
        <label for="weeklyAmountPaid">Scheduled Payment Amount[$CAD] [Read Only]</label>
        <input type="text" formControlName="weeklyAmountPaid" placeholder="weeklyAmountPaid" name="weeklyAmountPaid"
               class="form-control input-underline input-lg" id="weeklyAmountPaid" readonly="true">
      </div>

      <div class="form-group">
        <label for="paymentNotes">Payment Notes</label>
        <input type="text" formControlName="paymentNotes" placeholder="paymentNotes" name="paymentNotes"
               class="form-control input-underline input-lg" id="paymentNotes">
      </div>
      <button class="rounded-btn3">Update</button>
    </form>
  </div>
</div>
