<head>
  <meta name="viewport" content="width=device-width, initial-scale=5">
  <style>
    div {
      margin-bottom: 15px;
      padding: 4px 12px;
    }

    .danger {
      background-color: #ffdddd;
      border-left: 6px solid #f44336;
    }

    .success {
      background-color: #ddffdd;
      border-left: 6px solid #4CAF50;
    }

    .info {
      background-color: #e7f3fe;
      border-left: 6px solid #2196F3;
    }

    .warning {
      background-color: #ffffcc;
      border-left: 6px solid #ffeb3b;
    }
  </style>
</head>
<button mat-button (click)="back()">
    <mat-icon>skip_previous</mat-icon>
    Back
</button>
<div class="center-div">
  <div class="row justify-content-md-center"><h2 class="text-center">Edit Interns</h2>

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="hidden">
        <input type="text" formControlName="id" placeholder="id" name="id" class="form-control input-underline input-lg"
               id="id">
      </div>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" formControlName="firstName" placeholder="firstName" name="firstName"
               class="form-control input-underline input-lg" id="firstName" readonly="true">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" formControlName="lastName" placeholder="lastName" name="lastName"
               class="form-control input-underline input-lg" id="lastName" readonly="true">
      </div>

      <div class="form-group">
        <label for="email">Email :</label>
        <input type="text" formControlName="email" placeholder="email" name="email"
               class="form-control input-underline input-lg" id="email" readonly="true">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" formControlName="phoneNumber" placeholder="phoneNumber" name="phoneNumber"
               class="form-control input-underline input-lg" id="phoneNumber" readonly="true">
      </div>

      <div class="form-group">
        <label for="projectAssignment">Project Assignment:</label>
        <input type="text" formControlName="projectAssignment" placeholder="projectAssignment" name="projectAssignment"
               class="form-control input-underline input-lg" id="projectAssignment">
      </div>

      <div class="form-group">
        <label for="performance">Prformance:</label>
        <input type="text" formControlName="performance" placeholder="performance" name="performance"
               class="form-control input-underline input-lg" id="performance">
      </div>
      <div class="form-group">
        <label for="coopStarDate">Coop Start Date :</label>
        <input type="date" formControlName="coopStarDate" placeholder="coopStarDate" name="coopStarDate"
               class="form-control input-underline input-lg" id="coopStarDate">

      </div>

      <div class="form-group">
        <label for="coopEndDate">Coop End Date :</label>
        <input type="date" formControlName="coopEndDate" placeholder="coopEndDate" name="coopEndDate"
               class="form-control input-underline input-lg" id="coopEndDate">
      </div>
      <div class="form-group">
        <label for="clientStatus">Client Status: </label>
        <select class="form-control input-underline input-lg" formControlName="clientStatus" placeholder="clientStatus"
                name="clientStatus" class="form-control input-underline input-lg" id="clientStatus" readonly="false">
          <option value="INTERN">INTERN</option>
          <option value="RESUME">RESUME</option>
        </select>
      </div>
      <button mat-button>
        <mat-icon>toys</mat-icon>
        Update
      </button>
    </form>
  </div>
</div>

