<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>

<div align="left">
<img src="images/main.png">	
</div>
<body>
<span><p><h1 style = "font-size:18px;">Meet Your BusyQA Trainer!</p></span></h1>

<p>
Hello ......I Am Jamuna....
</p>

<p><strong>
About Me </strong>
</p>

<div>
<p>Expert-level Java Trainer has extensive knowledge of Java programming combined with solid presentation and teaching abilities. Has an engaging personality and is able to effectively communicate complex technical information in easy to understand language to aid comprehension. Has both Master’s and Bachelor’s degrees in Computer Programming strong understanding of Java Development and over six years of experience.</p>


<div align="center">
<img src="images/sauravram@c.c_Pic.png">
</div>


<p>Watch the following videos to learn more about us: Why busyQA, Paid coop, Hiba Student Testimonial. Visit our website to read testimonials from our students. We also attached pictures of our current facilities and the current class shortly before they graduate. Visit our Facebook to see more of our social side.</p>

<p>Regards,</p>

<p>Team BusyQA</p>

<p>Office (905) 499 3705 Extn:1 Cell 905 581 2846</p>

<p>Software Services is our thing. We get it, we do it and we stand by our work.</p>

www.busyqa.com. Follow us on facebook and LinkedIn.</p>

</span>
</body>
</html>