<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>

<div align="left">
<img src="images/main.png">	
</div>
<body>
<span><p><h1 style = "font-size:18px;">Thanks for showing interest in busyQA!</p></span></h1>

<div>
<p><em font-size:18px;>It is a new season and a perfect time to start a new career and earn BIG. Did you know that 90% of our students earn between $57K - $70K upon graduation. No more excuses, just do it!</em></p>

  <div align="left"> <p> <strong>Registration for the 2019 Automation Testing program are about to close. See details below.</strong></p></div>
<p>
</div>

<div align="center">
<img src="images/pic1.jpg">
</div>

<div align="center">
<p>
<strong>Address:</strong>                 waterloo
</p>
<p>
<strong>Date:</strong>                           06/02/2019
</p>
<p>
<strong>Time :</strong>                         9 am – 1pm (every Saturday)
</p>
<p>
<strong>Trainer:</strong>                      Tye Alli
</p>
<p>
<strong>Phone  :</strong>                    905 499 3705 (office) (416 902 8026) (cell)
</p>
<p>
<strong>Curriculum :</strong>               http://www.busyqa.com/software-testing </p>
</p>
</div>
<p>Watch the following videos to learn more about us: Why busyQA, Paid coop, Hiba Student Testimonial. Visit our website to read testimonials from our students. We also attached pictures of our current facilities and the current class shortly before they graduate. Visit our Facebook to see more of our social side.</p>



<p> <font color="red">To register, reply back to this email or complete the attached registration form and return.</font></p>

<p>Regards,</p>

<p>Team BusyQA</p>

<p>Office (905) 499 3705 Extn:1 Cell 905 581 2846</p>

<p>Software Services is our thing. We get it, we do it and we stand by our work.</p>

www.busyqa.com. Follow us on facebook and LinkedIn.</p>

</span>
</body>
</html>