<div class="center-div">
  <h3> {{clients.firstName}} {{clients.lastName}} </h3>
</div>
<div>
  <div>
    <label><h3>UserName </h3>
      <h2>{{clients.username}}</h2></label>
  </div>
  <div>
    <label><h3>Reach Me @ </h3>
      <h2>{{clients.email}}, #{{clients.phoneNumber}}, Emrgency Phone: {{clients.emergencyPhoneNumber}}</h2></label>
  </div>
  <div>
    <label><h3>Contact Details </h3>
      <h2>{{clients.address}},{{clients.city}},{{clients.state}}, {{clients.country}}, {{clients.zipCode}}</h2></label>
  </div>

</div>
<div class="center-div">
  <h3>My Registration Details</h3>
</div>

<div>
  <div>
    <label>
      <h2><p>Employed? : {{clients.currentlyEmployed}} </p>
        <p>Whether in Tech Industry : {{clients.currentlyTechIndustry}}</p>
        <p> Current Job : {{clients.currentJob}}</p>
        <p>Desired Job : {{clients.desriredJob}}</p>
        <p>Lead Source By : {{clients.leadSource}}</p>
        <p>MyOpinion : {{clients.studentComments}}</p>
      </h2>
    </label>
  </div>
</div>

<div class="center-div">
  <h3>My Course Details</h3>
</div>

<div>
  <div>
    <label>
      <h2><p>Course: {{clients.courseName}}</p>
        <p>Duration: {{clients.courseLenght}}(weeks)</p>
        <p>Course Start Date {{clients.startDate}}</p>
        <p>Location:{{clients.courseLocation}}</p>
      </h2>
    </label>
  </div>
</div>

<div class="center-div">
  <h3>My Payment Details</h3>
</div>

<div>
  <div>
    <label>
      <h2><p>PaymentPlan: {{clients.paymentPlan}}</p>
        <p>Payment Status: {{clients.paymentStatus}}</p>
      </h2>
    </label>
  </div>
</div>
